<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시물 작성</title>
</head>

<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout  input {
        width: 100%;
        box-sizing: border-box;

    }

    .layout  textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>

<body>
<div class="layout">
    <form th:action="@{/board/update/{id}(id = ${board.id})}" method="post" enctype="multipart/form-data">
        <input name="title" type="text" placeholder="Input Title" th:value="${board.title}">
        <textarea name="content" placeholder="Input Content" th:text="${board.content}"></textarea>
        <input type="file" name="file">
        <button type="submit">수정하기</button>
    </form>
</div>
</body>
</html>
